@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: rgba(0, 0, 0, 0.863);
  --secondary-color: rgba(37, 37, 37, 0.699);
  --dimmed-color: #3b3b3bb2;
  --primary-bg: #ffffffdd;
  --secondary-bg: rgba(232, 232, 232, 0.868);
  --dimmed-bg: #7171714d;
  --pi-color-red: #c7053d;
  --pi-color-green: #8cc04b;
}

.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.topbar .pi-logo {
  width: 50px;
  height: auto;
}

.topbar .AppName {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: 1px;
}

.overview {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
}

.overview .overviewnav {
  border-bottom: 1px solid var(--dimmed-bg);
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 0 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.overview .overviewnav .section-title {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.overview .overviewnav .menu {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  font-size: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.data-section .sectionName {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}
.data-section .card-box {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.data-section .row {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.data-section .row .card {
  width: 220px;
  height: 100px;
  background: var(--secondary-bg);
  border-radius: 20px;
}
.data-section .row .avaldisk {
  width: 220px;
  height: 120px;
  background: var(--secondary-bg);
  border-radius: 20px;
}

.data-section .row .pie-chart {
  width: 220px;
  justify-content: center;
}
.data-section .row .pie-chart .card-label {
  text-align: center;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  color: var(--secondary-color);
}

.pie-chart .allchart {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  position: relative;
}

.pie-chart .allchart .percent {
  position: absolute;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 30px;
  font-weight: 900;
  z-index: 2;
}

.pie-chart .allchart .percent .psign {
  font-size: 20px;
}

.data-section .row .card:not(.allservice),
.data-section .row .avaldisk {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.data-section .row .allservice {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.data-section .row .card .card-data,
.data-section .row .avaldisk .card-data {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.data-section .row .card .card-data .card-label,
.data-section .row .avaldisk .card-data .card-label {
  font-size: 15px;
  font-weight: 600;
  color: var(--secondary-color);
}
.data-section .row .card .card-data .card-value,
.data-section .row .avaldisk .card-data .card-value {
  font-size: 20px;
  font-weight: 900;
  color: var(--primary-color);
}
.data-section .row .avaldisk .card-data .card-status {
  font-size: 14px;
  color: var(--primary-color);
}

.data-section .row .card .card-icon {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.avaldisk .card-data .card-label {
  text-overflow: ellipsis;
  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}

.netid {
  margin-top: 43.5px;
}

.memsection .row {
  flex-direction: column;
}

@media only screen and (max-width: 1300px) {
  .disksection .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1230px) {
  .cpusection .row {
    flex-direction: column;
  }
}

@media only screen and (max-width: 920px) {
  .netsection .card-box {
    flex-direction: row;
  }

  .data-section .row .allservice {
    display: none;
  }

  .cpusection .row {
    flex-direction: row;
  }

  .memsection .row {
    flex-direction: row;
  }

  .disksection .row {
    flex-direction: row;
  }
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .data-section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .netid {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 450px) {
  .data-section .row .card,
  .data-section .row .avaldisk {
    width: 150px;
  }
  .data-section .row .pie-chart {
    width: 150px;
  }
  .data-section .row .card .card-icon {
    font-size: 16px;
  }
  .data-section .row .card .card-data .card-label,
  .data-section .row .avaldisk .card-data .card-label {
    font-size: 14px;
  }
  .data-section .row .card .card-data .card-value,
  .data-section .row .avaldisk .card-data .card-value {
    font-size: 16px;
  }

  .topbar .AppName {
    font-size: 30px;
  }
}
