<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="shortcut icon" href="static/favicon.png" type="image/png">
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js">
    </script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/loader.css">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %} | Cabin</title>
</head>

<body>
    <script>
        current_theme = "{{ theme.themeName | safe }}";
        let accent_color = "{{ theme.accentColor | safe }}";
        var r = document.querySelector(":root");
        r.style.setProperty("--activetext", accent_color);
    </script>
    <div class="main">
        <div class="sidebar">
            <div class="branding">

                <div class="sidecon" id="expandbar">
                    <img src="static/favicon.png" alt="">
                    <div class="hr"></div>
                    <i class="far fa-long-arrow-right"></i>
                </div>

                <p class="pagename fulld">The Cabin Project</p>
                <p class="pagetype fulld">Pi Server dashboard</p>
            </div>
            <div class="close-nav-btn">
                <i class="fal fa-chevron-left"></i>
            </div>
            <div class="hrs"></div>
            <ul>
                <h3>DASHBOARD</h3>
                <a href="/" class="lobby"><i class="fas fa-th-large"></i><span>Lobby</span></a>
                <a href="/monitor" class="monitor"><i class="far fa-chart-bar"></i><span>Live Monitor</span></a>
            </ul>
            <div class="hrs"></div>
            <ul>
                <h3>SYSTEM</h3>

                <a href="" class="file"><i class="fal fa-folder"></i><span>File Browser</span></a>
                <a href="" class="hardware"><i class="fal fa-microchip"></i><span>Hardware</span></a>
            </ul>
            <div class="hrs"></div>
            <ul class="highlight-block">
                <h3>CABIN CONTROL</h3>
                <a href="/appearance" class="appearance"><i class="far fa-palette"></i><span>Appearance</span></a>
                <a href="/manage" class="manageapps"><i class="far fa-gamepad-alt"></i><span>Manage Apps</span></a>
                <a href="" class="security"><i class="fal fa-shield"></i><span>Security</span></a>
                <a href="" class="notes"><i class="fas fa-clipboard"></i><span>Notes</span></a>
            </ul>
            <ul>
                <h3>MORE</h3>

                <a href="" class="about"><i class="far fa-id-card-alt"></i><span>About</span></a>
                <a href="" class="cradit"><i class="fal fa-file-certificate"></i><span>Cradit</span></a>
                <a href="" class="Docs"><i class="fas fa-books"></i><span>Docs</span></a>

            </ul>
            <br>

        </div>
        <div class="container">
            <div class="topbar">
                <div class="topbarbox">
                    <a class="pageh fulld data-hostname">Hostname on Os name</a>
                </div>
                <div class="topbarbox">
                    <div class="space fulld"></div>
                    <i class="fas fa-bolt adminicon"><span class="topbarspan">Admin</span><span
                            class="topbarspan fulld">Access</span></i>
                    <div class="space fulld"></div>
                    <i class="fal fa-bell"></i>
                    <div class="space"></div>
                    <i class="fal fa-moon" id="theme-toggle"></i>
                    <div class="sep"></div>
                    <i class="fab fa-raspberry-pi" id="control-center-btn"><span
                            class="fulld username data-username">username</span></i>
                </div>
            </div>
            <div class="control-center supercard">
                <img src="static/raspberrry_pi_logo.png" alt="">
                <h5><span class="data-username">username</span>@<span class="data-hostname">hostname</span></h5>
                <div class="settings">
                    <div class="st-box" id="st-btn1">
                        <div class="st-btn">
                            <i class="fal fa-sign-out"></i>
                        </div>
                        <div class="st-label">Log Out</div>
                    </div>
                    <div class="st-box" id="st-btn2" id="com-poweroff" onclick="poweroff()">
                        <div class="st-btn">
                            <i class="fal fa-power-off"></i>
                        </div>
                        <div class="st-label">Poweroff</div>
                    </div>
                    <div class="st-box" id="st-btn3" id="com-reboot" onclick="reboot()">
                        <div class="st-btn">
                            <i class="fal fa-redo"></i>
                        </div>
                        <div class="st-label">Reboot</div>
                    </div>
                    <div class="st-box" id="st-btn4">
                        <div class="st-btn">
                            <i class="far fa-shield-alt"></i>
                        </div>
                        <div class="st-label">Security</div>
                    </div>
                    <div class="st-box" id="st-btn5" id="com-poweroff" onclick="poweroff()">
                        <div class="st-btn">
                            <i class="fas fa-map-signs"></i>
                        </div>
                        <div class="st-label">Location</div>
                    </div>
                    <div class="st-box" id="st-btn6" id="com-reboot" onclick="reboot()">
                        <div class="st-btn">
                            <i class="fas fa-chart-network"></i>
                        </div>
                        <div class="st-label">VPN</div>
                    </div>
                </div>
            </div>
            <div class="context">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="reconnect">
        <div class="reconbox">
            <p class="reconmsg">Server Disconnected</p>
            <div class="reconbtn">Reconnect</div>
        </div>
    </div>

    <div class="passbox">
        <div class="passinnerbox">
            <div class="data-command"></div>
            <input type="password" class="passdata" id="passdata" placeholder="Enter password for the user">
            <div class="passbtns">
                <div class="passbtn" data-action="none">Continue</div>
                <div class="cancelbtn">Cancel</div>
            </div>
        </div>
    </div>

    <div class="theme-loader">
        <div class="exp-box"></div>
        <div class="ani-box">
            <div class="half-circle"></div>
        </div>
    </div>
    <input type='hidden' name='csrfmiddlewaretoken' value='{% csrf_token %}' />
    <div class="page-loader" id="loader">
        <div class="loader">
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
        </div>
    </div>




    <script>
        $(window).on('load', function () {
            setTimeout(removeLoader, 0); //wait for page load PLUS two seconds.
        });
        function removeLoader() {
            $("#loader").fadeOut(500, function () {
                // fadeOut complete. Remove the loading div
                $("#loader").remove(); //makes page more lightweight
            });
        }

        document.querySelector("." + curlivepage).classList.add("active");

    </script>
    <script src="static/fontawasome5.15-pro.js"></script>
    <!-- choose one -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="static/chart.js"></script>
    <script src="static/index.js"></script>


</body>

</html>