{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="static/index.css">
{% endblock %}
{% block title %}Lobby{% endblock %}

{% block body %}

<div class="datetimeblock">
    <div class="timeblock" id="timeblock"></div>
    <div class="dateblock" id="dateblock"></div>
</div>
<div class="apps">
    <div id="imageListId">
        <div id="imageNo1" class="listitemClass" data-id=1>
            <div class="appBox">
                <img src="/static/raspberrry_pi_logo.png" alt="" class="appLogo">
                <div class="appTitle">RaspberryPi</div>
                <div class="appLongTitle">A single board computer</div>
            </div>
        </div>
        <div id="imageNo1" class="listitemClass" data-id=2>
            <div class="appBox">
                <img src="/static/raspberrry_pi_logo.png" alt="" class="appLogo">
                <div class="appTitle">RaspberryPi</div>
                <div class="appLongTitle">A single board computer</div>
            </div>
        </div>
        <div id="imageNo1" class="listitemClass" data-id=3>
            <div class="appBox">
                <img src="/static/raspberrry_pi_logo.png" alt="" class="appLogo">
                <div class="appTitle">RaspberryPi</div>
                <div class="appLongTitle">A single board computer</div>
            </div>
        </div>
        <div id="imageNo1" class="listitemClass" data-id=4>
            <div class="appBox">
                <img src="/static/raspberrry_pi_logo.png" alt="" class="appLogo">
                <div class="appTitle">RaspberryPi</div>
                <div class="appLongTitle">A single board computer</div>
            </div>
        </div>
    </div>

</div>


</div>





<script>

    let curlivepage = "lobby";
    clock();
    setInterval(() => {
        clock();
    }, 1000 * 30);

    function clock() {
        let a = new Date();
        let ampm = "AM";
        var hrs = a.getHours();

        if (hrs > 12) {
            hrs = hrs - 12;
            ampm = "PM";
        }
        if (hrs == 0) {
            hrs = 12;
        } else if (hrs < 10) {
            hrs = "0" + hrs;
        }

        var dd = a.getDay();
        // console.log("date=" + dd);
        var weekday = [
            "SUNDAY",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
        ];

        var mm = a.getMonth();

        var month = [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
        ];
        min = a.getMinutes();
        if (min < 10) {
            min = "0" + min;
        }

        let date = String(a.getDate()).padStart(
            2,
            "0"
        );


        document.getElementById("timeblock").innerHTML = `${hrs}:${min} ${ampm}`;
        console.log(hrs + ":" + min)
        document.getElementById("dateblock").innerHTML = `${weekday[dd]}, ${date} ${month[mm]}, ${a.getFullYear()}`;
    }

</script>
{% endblock %}