<!DOCTYPE html>
<html lang='en'>
{% load static %}

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>The Pi Cabin</title>
</head>

<body>
    <div class="topbar">
        <img src="{% static 'raspberrry_pi_logo.png' %}" class="pi-logo" alt="">
        <span class="AppName">Raspberry Pi Server</span>
    </div>

    <div class="overview">
        <div class="overviewnav">
            <span class="section-title">Overview</span>
            <div class="menu">
                <div class="item-btn"><i class="far fa-cog"></i></div>
                <div class="item-btn"><i class="far fa-folder"></i></div>
                <div class="item-btn"><i class="far fa-th-large"></i></div>
                <div class="item-btn"><i class="far fa-moon"></i></div>
                <div class="item-btn"><i class="far fa-redo-alt"></i></div>
            </div>
        </div>
        <div class="container">

            <!-- First column -->
            <div class="column">
                <div class="netsection data-section">
                    <div class="sectionName">Network Stats</div>
                    <div class="card-box">
                        <div class="row">
                            <div class="netid card">
                                <div class="card-data">
                                    <p class="card-label">Network Name</p>
                                    <p class="card-value">SSID</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-network-wired"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="hostname card">
                                <div class="card-data">
                                    <p class="card-label">HOSTNAME</p>
                                    <p class="card-value">192.168.0.190</p>
                                </div>
                                <div class="card-icon">
                                    <!-- <i class="far fa-wifi"></i> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="allservice card">
                                <div class="card-data">
                                    <p class="card-label">Active Services</p>
                                    <p class="card-value">179</p>
                                </div>
                                <div class="card-icon">
                                    <i class="fas fa-cubes"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- second column -->
            <div class="column">
                <div class="cpusection data-section">
                    <div class="sectionName">CPU Stats</div>
                    <div class="card-box">
                        <div class="row">
                            <div class="cpuutil pie-chart">
                                <div class="cpuutil-chart allchart" data-percent="0" data-scale-color="#00000000">
                                    <div class="percent">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="card-label">CPU Utilization</div>
                            </div>
                            <div class="cpufreq card">
                                <div class="card-data">
                                    <p class="card-label">CPU Frequency</p>
                                    <p class="card-value">600 MHz</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="cpucount card">
                                <div class="card-data">
                                    <p class="card-label">CPU Count</p>
                                    <p class="card-value">4</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-microchip"></i>
                                </div>
                            </div>
                            <div class="cputemp card">
                                <div class="card-data">
                                    <p class="card-label">Max Frequency</p>
                                    <p class="card-value">1500 MHz</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-tachometer-fastest"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fanon card">
                                <div class="card-data">
                                    <p class="card-label">Fan</p>
                                    <p class="card-value">ON</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-fan"></i>
                                </div>
                            </div>
                            <div class="cputemp card">
                                <div class="card-data">
                                    <p class="card-label">Temperature</p>
                                    <p class="card-value">30°C</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-temperature-high"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Third Column -->
            <div class="column">
                <div class="disksection data-section">
                    <div class="sectionName">Disks Stats</div>
                    <div class="card-box">
                        <div class="row">
                            <div class="diskutil pie-chart">
                                <div class="diskutil-chart allchart" data-percent="0" data-scale-color="#00000000">
                                    <div class="percent">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="card-label">Disk Utilization</div>
                            </div>
                            <div class="diskused card">
                                <div class="card-data">
                                    <p class="card-label">Disk Used</p>
                                    <p class="card-value">5.7 GB</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-compact-disc"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="disktotal card">
                                <div class="card-data">
                                    <p class="card-label">Disk Available</p>
                                    <p class="card-value">24 GB</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-disc-drive"></i>
                                </div>
                            </div>
                            <div class="memefree card">
                                <div class="card-data">
                                    <p class="card-label">Total Disk Space</p>
                                    <p class="card-value">31 GB</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-save"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-data">
                                    <p class="card-label">MAIN (Mounted)</p>
                                    <p class="card-value">24 GB</p>
                                </div>
                                <div class="card-icon">

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-data">
                                    <p class="card-label">NEW VOLUME (Unmounted)</p>
                                    <p class="card-value">500 GB</p>
                                </div>
                                <div class="card-icon">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fourth column -->
            <div class="column">
                <div class="memsection data-section">
                    <div class="sectionName">Memory Stats</div>
                    <div class="card-box">
                        <div class="row">
                            <div class="memutil pie-chart">
                                <div class="memutil-chart allchart" data-percent="0" data-scale-color="#00000000">
                                    <div class="percent">
                                        <span></span>
                                    </div>
                                </div>
                                <div class="card-label">Memory Available</div>
                            </div>
                            <div class="memused card">
                                <div class="card-data">
                                    <p class="card-label">Memory Used</p>
                                    <p class="card-value">0.9 GB</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-analytics"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="memtotal card">
                                <div class="card-data">
                                    <p class="card-label">Total Memory</p>
                                    <p class="card-value">4 GB</p>
                                </div>
                                <div class="card-icon">
                                    <i class="far fa-memory"></i>
                                </div>
                            </div>
                            <div class="memefree card">
                                <div class="card-data">
                                    <p class="card-label">Memory Free</p>
                                    <p class="card-value">1 GB</p>
                                </div>
                                <div class="card-icon">
                                    <i class="fas fa-wave-triangle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>






    </div>


    <script src="{% static 'fontawasome5.15-pro.js' %}"></script>
    <script src="{% static 'plugins/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.appear.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.easypiechart.min.js' %}"></script>
    <script>
        let cpuchart = $('.cpuutil-chart').easyPieChart({
            easing: 'easeOutElastic',
            delay: 3000,
            barColor: '#000',
            trackColor: '#c7c7c7b2',
            scaleColor: '#fff',
            scaleLenght: 50,
            lineWidth: 5,
            trackWidth: 3,
            size: 120,
            lineCap: 'square',
            animate: { duration: 1, enabled: true },
            onStop: function (from, to) {
                this.el.children[0].innerHTML = `<span>${Math.round(to)}</span><span class="psign">%</span>`;
            },
        });

        let memchart = $('.memutil-chart').easyPieChart({
            easing: 'easeOutElastic',
            delay: 3000,
            barColor: '#000',
            trackColor: '#c7c7c7b2',
            scaleColor: '#fff',
            scaleLenght: 50,
            lineWidth: 5,
            trackWidth: 3,
            size: 120,
            lineCap: 'square',
            animate: { duration: 1, enabled: true },
            onStop: function (from, to) {
                this.el.children[0].innerHTML = `<span>${Math.round(to)}</span><span class="psign">%</span>`;
            },
        });

        let diskchart = $('.diskutil-chart').easyPieChart({
            easing: 'easeOutElastic',
            delay: 3000,
            barColor: '#000',
            trackColor: '#c7c7c7b2',
            scaleColor: '#fff',
            scaleLenght: 50,
            lineWidth: 5,
            trackWidth: 3,
            size: 120,
            lineCap: 'square',
            animate: { duration: 1, enabled: true },
            onStop: function (from, to) {
                this.el.children[0].innerHTML = `<span>${Math.round(to)}</span><span class="psign">%</span>`;
            },
        });

        $('.cpuutil-chart').data('easyPieChart').update(40)
        $('.memutil-chart').data('easyPieChart').update(20)
        $('.diskutil-chart').data('easyPieChart').update(19)

        // window.addEventListener("resize", (e) => {
        //     if (window.innerWidth < 450) {
        //         $('.memutil-chart').data('easyPieChart').update(20)
        //         $('.diskutil-chart').data('easyPieChart').update(19)
        //     }
        // });

    </script>
</body>

</html>